.card {
    width: 100%;
    flex-direction: column;
    border: 1px #525257 solid;
    color: #fff;
    cursor: pointer;
    margin: 10px 15px 10px 0px;
    display: block;
    @media only screen and (min-width: 768px) {
        width: 30.5%;
        display: inline-block;
    }
    .card_header {
        background: #525257;
        color: white;
        text-align: center;
        padding: 10px;
    }

    .card_content {
        padding: 2px 16px;
        color: #525257;
    }
}